
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Global Variables */
:root {
    --red:#cc0000;
    --light-grey:#c2c2c2;
    --dark-grey:#24211E;
   
}

/* Set base font size for ease of calculation of rems */
html { 
    font-size: 62.5%; 
} 

/* Applies to whole page */
/* Remove all default margin, padding and border values for easier styling */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: white;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    font-size: 1.5rem;
}

main {
    background-color: var(--red);
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
}

header {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

#game-area {
    background-color: white;
    padding: 1rem;
}

.area {
    background-color: var(--light-grey);
    margin-top: 2rem;
    width:90%;
    margin: 1rem auto;
    padding:1rem;
    display: flex; 
    flex-direction: column; 
    color: var(--dark-grey);
}

.area div, p{
    padding: 1rem;
}

.hide {
    display: none;
}

#motivational-area {
    padding: 2rem; text-align: center; font-size: 2rem; padding-top: 6rem;padding-bottom: 8rem;
}

#motivational-area p{
    padding: 6rem;
}

#incorrect-answer-area p {
    color: var(--red);
}

#button-area {
    padding:1rem;
    width:90%;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
}

#button {
    font-size: 2rem;
    background-color: var(--red);
    color: white;
    padding: 2rem;
    text-align: center;
    font-weight: bold;
}

/* For medium screens */

@media screen and (min-width: 768px) {
    #score-area, #preferences {
        flex-direction: row;
        justify-content: space-around;
        
    }
}

/* For larger screens */

@media screen and (min-width: 992px) {
    .area div {
        padding: 2rem;
    }
    
}