
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Global Variables */
:root {
    --red:#cc0000;
    --light-grey:#c2c2c2;
    --dark-grey:#24211E;
   
}

/* Set base font size for ease of calculation of rems */
html { 
    font-size: 62.5%; 
} 

/* Applies to whole page */
/* Remove all default margin, padding and border values for easier styling */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: white;
    font-family: "Roboto", sans-serif;
    margin: 0 auto;
    font-size: 1.5rem;
}

main {
    background-color: var(--red);
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
}

header {
    text-align: center;
    color: white;
    font-size: 1.5rem;
    padding-top: 1rem;
}